<p>videos#viewer</p>
<%= @search_terms %>
<%= @offset %>
<h1><%= @pc %></h1>
<p><%= @video_list %></p>
<div class="container">
<div class="embed-responsive embed-responsive-16by9">
  <iframe src='https://www.youtube.com/embed/0LgkxEcpREw?rel=0&autoplay=true' allowfullscreen></iframe>
</div>
</div>
