<p>videos#viewer</p>
<%= @search_terms %>
<%= @offset %>

<div class="embed-responsive embed-responsive-16by9">
  <iframe src='https://www.youtube.com/embed/0LgkxEcpREw?rel=0&autoplay=true' allowfullscreen></iframe>
</div>
