<div class="container col-lg-6 offset-lg-3">
<p class="guidance">List your search terms below; one search per line.</p>

<%= form_for :video, url: videos_index_path, method: 'get' do |f| %>
  <div class="form-group">
    <%= f.text_area(:list, class: 'form-control') %>
  </div>
    <%= f.submit "Load", class: 'btn btn-success btn-lg btn-submit col-lg-4 offset-lg-3' %>
<% end %>
</div>
